<h1>Welcome back, {{ sentence }}{{ result }}</h1>
<p>You can try to click <a href="/">here</a> to login again. But I'm sure we will recognize you.</p>
<p>Please <a href="/logout">logout</a> before you leave.</p>